{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb pl-0">
        <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}"><i class="material-icons">home</i> Home</a>
        </li>
        <li class="breadcrumb-item"><a href="#">Accounts</a></li>
        <li class="breadcrumb-item active" aria-current="page">Change Password</li>
      </ol>
    </nav>
  </div>
  <div class="col-xl-12 col-md-12">
    <div class="ms-panel">
      <div class="ms-panel-header ms-panel-custome">
        <h6>Change Password</h6>
      </div>
      <div class="ms-panel-body">
        <form class="needs-validation" method="post" enctype="multipart/form-data">

          <div class="form-row">
            <div class="col-md-12 mb-2">
              <label>Old Password *</label>
              <div class="input-group">
                {{form.old_password}}

              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6 mb-2">
              <label>New Password *</label>
              <div class="input-group">
                {{form.new_password1}}

              </div>
            </div>

            <div class="col-md-6 mb-2">
              <label>Confirm Password *</label>
              <div class="input-group">
                {{form.new_password2}}

              </div>
            </div>
          </div>
          {% csrf_token %}
          <button class="btn btn-primary mt-4 d-inline w-20" type="submit">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}