{% load notifications_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Licence Aplication</title>
  <!-- Iconic Fonts -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'vendors/iconic-fonts/font-awesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/iconic-fonts/flat-icons/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/iconic-fonts/cryptocoins/cryptocoins.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/iconic-fonts/cryptocoins/cryptocoins-colors.css' %}">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

  <!-- jQuery UI -->
  <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}">

  <!-- Page Specific CSS (Slick Slider.css) -->
  <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">

  <!-- medjestic styles -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

  <!-- Page Specific CSS (Morris Charts.css) -->
  <link rel="stylesheet" href="{% static 'assets/css/morris.css' %}">

</head>

<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">

  <!-- Preloader -->
  <div id="preloader-wrap">
    <div class="spinner spinner-8">
      <div class="ms-circle1 ms-child"></div>
      <div class="ms-circle2 ms-child"></div>
      <div class="ms-circle3 ms-child"></div>
      <div class="ms-circle4 ms-child"></div>
      <div class="ms-circle5 ms-child"></div>
      <div class="ms-circle6 ms-child"></div>
      <div class="ms-circle7 ms-child"></div>
      <div class="ms-circle8 ms-child"></div>
      <div class="ms-circle9 ms-child"></div>
      <div class="ms-circle10 ms-child"></div>
      <div class="ms-circle11 ms-child"></div>
      <div class="ms-circle12 ms-child"></div>
    </div>
  </div>
  <!-- Overlays -->
  <div class="ms-aside-overlay ms-overlay-left ms-toggler" data-target="#ms-side-nav" data-toggle="slideLeft"></div>
  <div class="ms-aside-overlay ms-overlay-right ms-toggler" data-target="#ms-recent-activity" data-toggle="slideRight">
  </div>
  <!-- Sidebar Navigation Left -->
  <aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left">
    <!-- Logo -->
    <div class="logo-sn ms-d-block-lg">
      <a class="pl-0 ml-0 text-center" href="{% url 'accounts:dashboard' %}">
        <h1 style="color: whitesmoke;"></h1>
      </a>
      <a href="{% url 'accounts:profile_edit' %}" class="text-center ms-logo-img-link"> <img src="{{user.pic.url}}"
          alt="logo"></a>
      <h5 class="text-center text-white mt-2">{{ user.get_full_name }}</h5>
      <h6 class="text-center text-white mb-3">{{ user.user_type }}</h6>
    </div>
    <!-- Navigation -->
    <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">
      <!-- Dashboard -->
      <li class="menu-item">
        <a href="{% url 'accounts:dashboard' %}">
          <span><i class="material-icons fs-16">dashboard</i>Dashboard </span>
        </a>
        <ul id="dashboard" class="collapse" aria-labelledby="dashboard" data-parent="#side-nav-accordion">
          <li> <a href="">Licence Aplication</a> </li>
        </ul>
      </li>
      <!-- /Dashboard -->

      <li class="menu-item">
        <a href="{% url 'accounts:notifications_' %}">
          <span><i class="fas fa-bell"></i>Notifications ({% live_notify_badge %})</span>
        </a>
        <ul id="dashboard" class="collapse" aria-labelledby="dashboard" data-parent="#side-nav-accordion">
          <li> <a href="">Licence Aplication</a> </li>
        </ul>
      </li>

      


      
      <li class="menu-item">
        <a href="#" class="has-chevron" data-toggle="collapse" data-target="#prescriptionn" aria-expanded="false"
          aria-controls="doctor">
          <span><i class="fas fa-book"></i>Licenses</span>
        </a>
        <ul id="prescriptionn" class="collapse" aria-labelledby="doctor" data-parent="#side-nav-accordion">
          {% if user.user_type == 'Admin' %}
            <li> <a href="{% url 'licenses:license_type_new' %}">Add License Type</a> </li>
            <li> <a href="{% url 'licenses:license_type_list' %}">License Type List</a> </li>
          {% endif %}

            <li> <a href="{% url 'licenses:applications' %}">Applications</a> </li>

          {% if user.user_type != 'Admin' %}
            <li> <a href="{% url 'licenses:application_new' %}">New License Application</a> </li>
          {% endif %}
          
        </ul>
      </li>
      <!-- Payment -->

      <li class="menu-item">
        <a href="{% url 'payments:payments' %}">
          <span><i class="fas fa-credit-card"></i>Payments</span>
        </a>
      </li>


      <li class="menu-item">
        <a href="{% url 'accounts:logout' %}" class="">
          <span><i class="fas fa-lock"></i>Logout
        </a>

      </li>



    </ul>
  </aside>
  <!-- Sidebar Right -->

  <!-- Main Content -->
  <main class="body-content">
    <!-- Navigation Bar -->
    <nav class="navbar ms-navbar">
      <div class="ms-aside-toggler ms-toggler pl-0" data-target="#ms-side-nav" data-toggle="slideLeft">
        <span class="ms-toggler-bar bg-white"></span>
        <span class="ms-toggler-bar bg-white"></span>
        <span class="ms-toggler-bar bg-white"></span>
      </div>
      <div class="logo-sn logo-sm ms-d-block-sm">
        <a class="pl-0 ml-0 text-center navbar-brand mr-0" style="color: whitesmoke;"
          href="{% url 'accounts:dashboard' %}">Licence Aplication </a>
      </div>
      <ul class="ms-nav-list ms-inline mb-0" id="ms-nav-options">

        <li class="ms-nav-item ms-nav-user dropdown">
          <a href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <img
              class="ms-user-img ms-img-round float-right" src="{{user.pic.url}}" alt="people"> </a>
          <ul class="dropdown-menu dropdown-menu-right user-dropdown" aria-labelledby="userDropdown">
            <li class="dropdown-menu-header">
              <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">{{user.get_full_name}}</span></h6>
            </li>
            <li class="dropdown-divider"></li>

            <li class="ms-dropdown-list">
              <a class="media fs-14 p-2" href="{% url 'accounts:profile_edit' %}"> <span><i
                    class="flaticon-user mr-2"></i> Edit Profile</span> </a>
            </li>
            <li class="dropdown-divider"></li>

            <li class="ms-dropdown-list">
              <a class="media fs-14 p-2" href="{% url 'accounts:password_change' %}"> <span><i
                    class="flaticon-user mr-2"></i> Change Password</span> </a>
            </li>
            <li class="dropdown-divider"></li>

            <li class="dropdown-menu-footer">
              <a class="media fs-14 p-2" href="{% url 'accounts:logout' %}"> <span><i
                    class="flaticon-shut-down mr-2"></i> Logout</span> </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="ms-toggler ms-d-block-sm pr-0 ms-nav-toggler" data-toggle="slideDown" data-target="#ms-nav-options">
        <span class="ms-toggler-bar bg-white"></span>
        <span class="ms-toggler-bar bg-white"></span>
        <span class="ms-toggler-bar bg-white"></span>
      </div>
    </nav>
    <!-- Body Content Wrapper -->
    <div class="ms-content-wrapper">








      {% if form.errors %}
      {% include 'form_messages.html' with errors=form.errors %}
      {% endif %}

      {% if profile_form.errors %}
      {% include 'form_messages.html' with errors=profile_form.errors %}
      {% endif %}

      {% if mobile_form.errors %}
      {% include 'form_messages.html' with errors=mobile_form.errors %}
      {% endif %}

      {% include 'messages.html' %}

      {% block content %}
      {% endblock %}












    </div>
  </main>
  <!-- MODALS -->

  <!-- Reminder Modal -->
  <div class="modal fade" id="reminder-modal" tabindex="-1" role="dialog" aria-labelledby="reminder-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <h5 class="modal-title has-icon text-white"> New Reminder</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <form>
          <div class="modal-body">
            <div class="ms-form-group">
              <label>Remind me about</label>
              <textarea class="form-control" name="reminder"></textarea>
            </div>
            <div class="ms-form-group">
              <span class="ms-option-name fs-14">Repeat Daily</span>
              <label class="ms-switch float-right">
                <input type="checkbox">
                <span class="ms-switch-slider round"></span>
              </label>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="ms-form-group">
                  <input type="text" class="form-control datepicker" name="reminder-date" value="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="ms-form-group">
                  <select class="form-control" name="reminder-time">
                    <option value="">12:00 pm</option>
                    <option value="">1:00 pm</option>
                    <option value="">2:00 pm</option>
                    <option value="">3:00 pm</option>
                    <option value="">4:00 pm</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-secondary shadow-none" data-dismiss="modal">Add Reminder</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Notes Modal -->
  <div class="modal fade" id="notes-modal" tabindex="-1" role="dialog" aria-labelledby="notes-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-secondary">
          <h5 class="modal-title has-icon text-white" id="NoteModal">New Note</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
        </div>
        <form>
          <div class="modal-body">
            <div class="ms-form-group">
              <label>Note Title</label>
              <input type="text" class="form-control" name="note-title" value="">
            </div>
            <div class="ms-form-group">
              <label>Note Description</label>
              <textarea class="form-control" name="note-description"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-secondary shadow-none" data-dismiss="modal">Add Note</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal -->



  <!-- Modal -->



  <!-- Modal -->


  <!-- SCRIPTS -->
  <!-- Global Required Scripts Start -->
  <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/perfect-scrollbar.js' %}"></script>
  <script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>


  <!-- Global Required Scripts End -->
  <script src="{% static 'assets/js/d3.v3.min.js' %}"></script>
  <script src="{% static 'assets/js/topojson.v1.min.js' %}"></script>
  <script src="{% static 'assets/js/datamaps.all.min.js' %}"></script>

  <!-- Page Specific Scripts Start -->
  <script src="{% static 'assets/js/slick.min.js' %}"></script>
  <script src="{% static 'assets/js/moment.js' %}"></script>
  <script src="{% static 'assets/js/jquery.webticker.min.js' %}"></script>
  <script src="{% static 'assets/js/Chart.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/index-chart.js' %}"></script>

  <!-- Page Specific Scripts Finish -->
  <script src="{% static 'assets/js/calendar.js' %}"></script>

  <!-- medjestic core JavaScript -->
  <script src="{% static 'assets/js/framework.js' %}"></script>
  <!-- Settings -->
  <script src="{% static 'assets/js/settings.js' %}"></script>

  <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
  {% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
</body>


</html>